@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* === General Styles === */

body {
  background: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

/* Flexbox Fallback */

.support-warning {
  background: #ccb11c;
  color: #000;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.35;
  opacity: 0.95;
  padding: 1rem;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 5;
}

.support-warning a {
  color: #373737;
}

.support-btn {
  background: #eee;
  padding: 1px 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
}

.support-btn:hover {
  margin-left: 1px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid > .grid-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.grid-4x4 > .grid-item {
  height: auto;
}

.grid-4x4 > .item-one,
.grid-4x4 > .item-two {
  width: 40%;
  height: 44vh;
}

.grid-4x4 > .item-three {
  width: 80%;
  height: 44vh;
}

.grid-4x4 > .item-four,
.grid-4x4 > .item-five {
  width: 20%;
  height: 44vh;
}

.grid-4x4 > .alt-bg {
  width: 100%;
}

.grid-4x4 > .about-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article-wrapper {
  margin: 60px 0;
}

.grid-4x4 > .work-flex {
  height: 88vh;
}

.grid-4x4 > .contact-flex,
.grid-4x4 > .thankyou-flex {
  height: 93vh;
}

.grid-4x4 > .grid-header,
.grid-4x4 > .grid-footer {
  width: 100%;
  height: 60px;
}

/* Flexbox Media Queries */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /*  for IE10+ */
  .contact-social-wrapper {
    margin-top: 60px;
  }
}

@supports (-ms-accelerator:true) {
  /* for Edge */
  .contact-social-wrapper {
    margin-top: 60px;
  }

  .edu_input_field {
    width: 15.1% !important;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .grid-4x4 > .contact-flex {
    height: 96vh;
  }

  .grid-4x4 > .work-flex {
    height: 91vh;
  }

  .flex-bg {
    background: #eee;
  }

  .grid-4x4 > .item-one,
  .grid-4x4 > .item-two,
  .grid-4x4 > .item-three,
  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    height: 45vh;
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .grid-4x4 > .contact-flex,
  .grid-4x4 > .thankyou-flex {
    height: 94vh;
  }

  .grid-4x4 > .work-flex {
    height: 88vh;
  }

  .grid-4x4 > .item-one,
  .grid-4x4 > .item-two,
  .grid-4x4 > .item-three {
    width: 100%;
  }

  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    width: 100%;
    height: 25vh;
  }

  .grid-4x4 > .header-about,
  .grid-4x4 > .header-work,
  .grid-4x4 > .header-index,
  .grid-4x4 > .header-contact {
    height: 62px;
  }
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  .support-warning {
    font-size: 0.7rem;
  }

  .thanks > p {
    font-size: 0.8rem;
  }

  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    width: 100%;
    height: 32%;
  }

  .grid-4x4 > .header-about,
  .grid-4x4 > .header-work,
  .grid-4x4 > .header-index,
  .grid-4x4 > .header-contact {
    height: 60px;
  }
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
  .grid-4x4 > .contact-flex {
    height: 93vh;
  }

  .grid-4x4 > .thankyou-flex {
    height: 91vh;
  }

  .grid-4x4 > .work-flex {
    height: 84vh;
  }

  .grid-4x4 > .item-one,
  .grid-4x4 > .item-two {
    height: 42vh;
  }

  .grid-4x4 > .item-three {
    height: 42vh;
  }

  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    height: 42vh;
  }

  .flex-bg {
    background: #eee;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .grid-4x4 > .work-flex {
    height: 84vh;
  }

  .grid-4x4 > .item-one,
  .grid-4x4 > .item-two {
    height: 42vh;
  }

  .grid-4x4 > .item-three {
    height: 42vh;
  }

  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    height: 42vh;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .support-warning {
    font-size: 0.7rem;
  }

  .grid-4x4 > .item-one,
  .grid-4x4 > .item-two,
  .grid-4x4 > .item-three {
    width: 70%;
    height: 90vh;
  }

  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    width: 30%;
    height: 90vh;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .grid-4x4 > .item-one,
  .grid-4x4 > .item-two,
  .grid-4x4 > .item-three {
    width: 60%;
    height: 100vh;
  }

  .grid-4x4 > .item-four,
  .grid-4x4 > .item-five {
    width: 40%;
    height: 100vh;
  }

  .article-wrapper {
    margin: auto;
  }
}

@supports (display: grid) {
  .support-warning {
    display: none;
  }

  /* resets pre grid */
  .grid-4x4 > .grid-item,
  .grid-4x4 > .grid-header,
  .grid-4x4 > .grid-footer,
  .grid-4x4 > .alt-bg {
    width: auto;
    height: auto;
  }

  .grid {
    display: -ms-grid;
    display: grid;
  }

  .article-wrapper {
    margin-top: auto;
  }

  .menu-about,
  .menu-contact {
    margin-right: 1.5em;
  }
}

/* CSS Grid */

.grid-4x4 {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 60px 1fr 1fr 1fr 1fr 60px;
  grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
  grid-gap: 2px;
  grid-template-areas:
    "header header header header header"
    "item-one item-one item-two item-two item-four"
    "item-one item-one item-two item-two item-four"
    "item-five item-three item-three item-three item-three"
    "item-five item-three item-three item-three item-three"
    "footer footer footer footer footer";
}

.full-height {
  min-height: 100vh;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Grid Item Styles */

.items {
  position: relative;
}

.items > p {
  position: absolute;
  bottom: 0;
  right: 1em;
  font-size: 1.5rem;
  opacity: 0.3;
  visibility: hidden; /* feature not yet finished */
}

.items:hover .overlay,
.items:active .overlay {
  height: 100%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* enables :hover on iOS devices */
  -webkit-user-select: none;
  -webkit-touch-callout: none /* only to disable context menu on long press */
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-area: header;
  z-index: 99;
}

.item-one {
  grid-area: item-one;
}

.item-two {
  grid-area: item-two;
}

.item-three {
  grid-area: item-three;
}

.item-four {
  grid-area: item-four;
}

.item-five {
  grid-area: item-five;
}

.content {
  padding: 1rem;
  line-height: 1.1em;
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

.theme-black {
  background: #1c1e22;
  color: #c4c4c4;
}

.theme-grey {
  background: #4f4f4f;
  color: #c4c4c4;
}

/* Menu Styles */

.logo {
  text-decoration: none;
  color: #c4c4c4;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.bold {
  font-weight: 700;
}

nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 1.5em 1em;
}

nav:last-child {
  margin-right: 0.5em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

.menu-content {
  margin-top: -0.5em;
}

.menu-content li {
  margin: 0;
  padding: 0.5em;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.nav-item {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.5em;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.nav-social {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 0.75rem;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.nav-item:hover,
.nav-item.active:hover,
.nav-social:hover,
.logo:hover {
  color: #373737;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.nav-item.active {
  color: #eee;
}

/* Footer Styles */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-area: footer;
}

footer li {
  display: inline-block;
}

.footer-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  background: #4f4f4f;
  text-align: center;
}

.footer-content ul {
  margin: 1em 0 0;
  padding: 0;
}

/* Image Items */

.img-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.img-background-fwwu {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/fwwu-forest2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/fwwu-forest2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.img-background-wester {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/masada.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/masada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.img-background-fecamp {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/fwwu-fecamp2.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/fwwu-fecamp2.jpeg);
}

/* Overlay Images */

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #808080;
  opacity: 0.4;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.img-text {
  white-space: nowrap;
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  overflow: hidden;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.placeholder {
  font-size: 1rem;
}

/* === Media Queries === */

/* Tablets Portrait */

@media screen and (max-width: 768px) {
  .grid-4x4 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto repeat(3, 1fr) 60px;
    grid-template-rows: auto repeat(3, 1fr) 60px;
    grid-template-areas:
      "header header header"
      "item-one item-one item-four"
      "item-five item-two item-two"
      "item-three item-three item-three"
      "footer footer footer";
  }

  .item-one {
    border-left: 2px solid #000;
    border-right: 0;
  }

  .item-two {
    border-left: 0;
    border-right: 2px solid #000;
  }

  .item-three {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
  }

  .item-four {
    border-right: 2px solid #000;
  }

  .item-five {
    border-left: 2px solid #000;
  }

  /* Menu Styles Mobile */

  nav {
    display: block;
    margin: 1.5em 0;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  nav:last-child {
    margin-right: 0;
  }

  .logo {
    margin-left: 1em;
  }

  .menu-content {
    overflow: hidden;
    height: 0;
    display: block;
  }

  .menu-content.open {
    height: auto;
    padding-bottom: 0;
    margin-top: 1em;
    margin-bottom: -1.5em;
  }

  .menu-content li {
    display: block;
    background: #5b5b5b;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #373737;
  }

  .menu-content li:nth-child(1) {
    border-bottom: 0;
  }

  .menu-content li:nth-child(2) {
    border-bottom: 0;
  }

  .menu-content li:nth-child(3) {
    border-bottom: 0;
  }

  .nav-item {
    margin: 0;
    padding: 0 16em;
  }

  .burger-container {
    position: relative;
    width: 38px;
    height: 38px;
    margin-top: -1em;
    margin-right: 1em;
  }

  .burger-nav {
    cursor: pointer;
    display: block;
    position: relative;
    top: 8px;
  }

  .burger-nav span {
    background: #c4c4c4;
    display: block;
    width: 100%;
    height: 7px;
    margin-bottom: 6px;
    position: relative;
    top: 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }

  .burger-container.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  .burger-container.open span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
  }

  .burger-container.open span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -13px;
  }
}

/* Mobile Portrait */

@media screen and (max-width: 551px) and (orientation: portrait) {
  .grid-4x4 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto repeat(8, 1fr) 60px;
    grid-template-rows: auto repeat(8, 1fr) 60px;
    grid-template-areas:
      "header"
      "item-one"
      "item-one"
      "item-two"
      "item-two"
      "item-four"
      "item-three"
      "item-three"
      "item-five"
      "footer";
  }

  .item-one {
    border-right: 2px solid #000;
  }

  .item-two {
    border-left: 2px solid #000;
  }

  .item-four {
    border-left: 2px solid #000;
  }

  .item-five {
    border-right: 2px solid #000;
  }

  .nav-item {
    padding: 0 11.5em;
  }
}

@media screen and (max-width: 438px) and (orientation: portrait) {
  .logo,
  .nav-item {
    font-size: 0.8rem;
  }

  .nav-item {
    padding: 0 12.5em;
  }

  nav ul {
    margin-top: -4px;
  }

  .burger-container {
    width: 32px;
    height: 32px;
  }

  .burger-nav {
    top: 9px;
    margin-top: 2px;
  }

  .burger-nav span {
    height: 6px;
    margin-bottom: 5px;
  }

  .burger-container.open span:nth-child(1) {
    top: 11px;
  }

  .burger-container.open span:nth-child(3) {
    top: -11px;
  }
}

@media screen and (max-width: 375px) {
  .grid-4x4 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto repeat(5, 1fr) 60px;
    grid-template-rows: auto repeat(5, 1fr) 60px;
    grid-template-areas:
      "header"
      "item-one"
      "item-two"
      "item-four"
      "item-three"
      "item-five"
      "footer";
  }

  .logo {
    line-height: 1.5em;
    font-size: 0.7rem;
  }

  .nav-item {
    font-size: 0.7rem;
    padding: 0 13em;
  }

  .img-text {
    top: 83%;
  }
}

@media screen and (max-width: 320px) {
  .nav-item {
    margin: 0;
    padding: 0 11em;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .logo,
  .nav-item {
    font-size: 0.8rem;
  }

  .nav-item {
    padding: 0 19em;
  }

  nav ul {
    margin-top: -4px;
  }

  .burger-container {
    width: 32px;
    height: 32px;
  }

  .burger-nav {
    top: 9px;
    margin-top: 2px;
  }

  .burger-nav span {
    height: 6px;
    margin-bottom: 5px;
  }

  .burger-container.open span:nth-child(1) {
    top: 11px;
  }

  .burger-container.open span:nth-child(3) {
    top: -11px;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
  .nav-item {
    padding: 0 15em;
  }
}

/* iPad portrait orientation */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .full-height {
    height: 1024px;
  }
}

/* iPad landscape orientation */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .full-height {
    height: 768px;
  }
}

/* iPad with portrait orientation */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .full-height {
    height: 1024px;
  }
}

/* iPad with landscape orientation */
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .full-height {
    height: 768px;
  }
}
