/* === Additional Pages Styles == */

/* General Styles */

.grid-4x4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr 60px;
  grid-gap: 0;
  grid-template-areas:
    "header header header header"
    "alt-bg alt-bg alt-bg alt-bg"
    "footer footer footer footer";
}

.alt-bg {
  display: grid;
  grid-area: alt-bg;
  background: #eee;
  color: #000;
}

.nav-item-home {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.5em;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.nav-item-home:hover {
  color: #373737;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/* === About Styles === */

.grid-article {
  max-width: 768px;
  margin: auto;
  background: #fff;
}

.article-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "t t"
    "st t3"
    "t1 i"
    "t2 t4"
    "t2 .";
  max-width: 768px;
  background: #fff;
}

img {
  width: 100%;
}

.article-title {
  grid-area: t;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0 0 1em;
  padding: 0.5em;
}

.article-title h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.article-title h1:nth-child(1) {
  margin-left: 33px;
}

.article-subtitle {
  grid-area: st;
  margin: 0 1em;
}

.article-subtitle h2 {
  font-size: 0.9em;
  margin: 0 0 1em;
  font-weight: 700;
}

.title-text {
  font-size: 0.3em;
  font-weight: 700;
}

.article-subtitle h3 {
  font-size: 0.8em;
  margin: 1em 0;
  font-weight: 700;
}

.article-text {
  -webkit-columns: 2;
  columns: 2;
  -webkit-column-gap: 0.7em;
  column-gap: 0.7em;
  -webkit-column-width: 200px;
  column-width: 200px;
  color: #444;
}

.article-text p {
  font-weight: 400;
  font-size: 0.8em;
}

.article-text p:first-child {
  margin-top: 0;
}

.text-1 {
  grid-area: t1;
  padding: 0 1em;
}

.text-2 {
  grid-area: t2;
  padding: 0 1em;
}

.article-image {
  grid-area: i;
  position: relative;
  margin: 0 1em;
  padding: 0;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0.5em;
  text-align: right;
  color: #000;
  font-style: italic;
  font-size: 0.6em;
}

.text-3 {
  grid-area: t3;
  padding: 0 1em;
}

.upper {
  margin-top: 0.5em;
}

.text-4 {
  grid-area: t4;
  padding: 0 1em;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.nav-fixed {
  height: 14px;
  width: 100vw;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.footer-content {
  height: 60px;
  width: 100vw;
  text-align: center;
}

/* === Work Styles === */

.grid-portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "slippry";
}

/* slider */

.portfolio-wrapper {
  width: 60%;
  margin: auto;
  grid-area: slippry;
}

.portfolio-block {
  width: 100%;
}

.container-img {
  position: relative;
  width: 750px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}

.container-img > a > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/* slider controls */

.sl-control {
  text-decoration: none;
  color: #373737;
}

/* === Contact Styles === */

.grid-contact {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50vh, auto));
}

.contact-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #1c1e22;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-block {
  width: 60%;
}

.nav-social-contact {
  text-decoration: none;
  color: #c4c4c4;
}

.nav-social-contact:hover {
  color: #373737;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.social-block ul {
  list-style-type: none;
  padding: 0;
}

.social-block li {
  margin: 10px 0;
}

.social-block ul li .fa {
  font-size: 2.5em;
  padding-right: 10px;
}

.social-block ul li p {
  display: inline-block;
  position: relative;
  top: -0.3em;
  font-size: 1.25em;
  margin: 0;
  padding: 0.25em 0;
}

.contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-block {
  width: 80%;
  margin-top: -25px;
}

/* Contact Form Styles */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989898;
  font-size: 0.875em;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989898;
  font-size: 0.875em;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989898;
  font-size: 0.875em;
}

input::placeholder,
textarea::placeholder {
  color: #989898;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #d9d9d9;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #d9d9d9;
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  color: #d9d9d9;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #d9d9d9;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #eee;
  font-size: 0.875em;
}

input:hover:-ms-input-placeholder,
textarea:hover:-ms-input-placeholder {
  color: #eee;
  font-size: 0.875em;
}

input:hover::-ms-input-placeholder,
textarea:hover::-ms-input-placeholder {
  color: #eee;
  font-size: 0.875em;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #eee;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #c3c3c3;
}

input:hover:focus:-ms-input-placeholder,
textarea:hover:focus:-ms-input-placeholder {
  color: #c3c3c3;
}

input:hover:focus::-ms-input-placeholder,
textarea:hover:focus::-ms-input-placeholder {
  color: #c3c3c3;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #c3c3c3;
}

.form-title {
  position: relative;
  margin: 0 0 25px;
  font-size: 1.5em;
  color: #1c1e22;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 100%;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background: transparent;
  outline: none;
  color: #5b5b5b;
  border: solid 1px #989898;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #c3c3c3;
  color: #1c1e22;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #5b5b5b;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #989898;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #c3c3c3;
  color: #1c1e22;
}

#spam {
  display: none;
}

#submit {
  width: 100%;
  padding: 0;
  margin: -5px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #989898;
  outline: none;
  cursor: pointer;
  border: solid 1px #989898;
}

#submit:hover {
  color: #eee;
}

/* Thank You Styles */

.grid-thanks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "thanks";
}

.thanks {
  grid-area: thanks;
  text-align: center;
  margin: auto;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 4px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .grid-4x4 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 1fr 60px;
    grid-template-rows: auto 1fr 60px;
    grid-template-areas:
      "header header header"
      "alt-bg alt-bg alt-bg"
      "footer footer footer";
  }

  .menu-about,
  .menu-contact {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .grid-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 35% 1fr;
  }

  .portfolio-wrapper {
    width: 80%;
  }

  .social-block {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .grid-contact {
    margin-top: 50px;
  }

  .nav-item-home {
    margin: 0;
    padding: 0 16em;
  }

  .article-wrapper {
    margin-top: 60px;
  }

  .social-block {
    width: 40%;
  }
}

@media screen and (max-width: 694px) and (orientation: portrait) {
  .caption {
    bottom: 7em;
  }

  .text-4 {
    margin-top: -4em;
  }
}

@media screen and (max-width: 651px) and (orientation: portrait) {
  .article-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "t"
      "st"
      "t1"
      "i"
      "t2"
      "t3"
      "t4";
  }

  .article-text {
    -webkit-columns: 1;
    columns: 1;
  }

  .caption {
    color: #fff;
    bottom: 0;
  }

  .text-2 {
    padding: 0.5em 1em 0;
  }

  .text-4 {
    margin-top: 0;
  }

  .article-image {
    padding-top: 0.5em;
  }

  .portfolio-wrapper {
    width: 94%;
  }

  .container-img {
    width: 500px;
    height: 266px;
  }

  .nav-fixed {
    margin-bottom: 1.5em;
  }

  .social-block {
    width: 60%;
  }

  .social-block ul li p {
    font-size: 0.9em;
  }

  .nav-item-home {
    padding: 0 11.5em;
  }
}

@media screen and (max-width: 438px) and (orientation: portrait) {
  .grid-portfolio {
    background: #1c1e22;
  }

  .sl-control {
    color: #c4c4c4;
  }

  .portfolio-block {
    color: #c4c4c4;
  }

  .grid-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .nav-fixed {
    margin-bottom: 1.1em;
  }

  .nav-item-home,
  .sl-control,
  .contact-block {
    font-size: 0.8rem;
  }

  .nav-item-home {
    padding: 0 12.5em;
  }

  .container-img {
    width: 375px;
    height: 200px;
  }

  .fixed-bottom {
    position: relative;
  }

  .social-block {
    width: 50%;
  }

  .social-block ul li .fa {
    font-size: 1.9em;
  }

  .form-title {
    margin-bottom: 20px;
  }

  input {
    height: 40px;
  }

  textarea {
    height: 85px;
  }

  .article-image {
    padding-top: 0;
  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .nav-item-home,
  .sl-control,
  .demo_block {
    font-size: 0.7rem;
  }

  .nav-item-home {
    padding: 0 13em;
  }

  .container-img {
    width: 300px;
    height: 160px;
  }

  .social-block {
    width: 60%;
  }
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  .article-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .social-block ul li .fa {
    font-size: 1.4em;
  }

  .social-block ul li p {
    font-size: 0.7em;
  }

  .social-block {
    width: 50%;
  }

  .form-title {
    font-size: 1.2em;
  }

  input {
    height: 30px;
  }

  textarea {
    height: 65px;
  }

  .nav-item-home {
    padding: 0 11em;
  }
}

/* Media Queries Landscape */

@media screen and (min-width: 1500px) and (orientation: landscape) {
  .container-img {
    width: 1125px;
    height: 600px;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .nav-social-contact {
    font-size: 1.1em;
  }

  .social-block {
    width: 70%;
  }

  .fixed-bottom {
    position: relative;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .social-block {
    width: 80%;
  }

  .social-block ul li p {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .alt-bg {
    min-height: 100vh;
  }

  .grid-contact {
    margin-top: 50px;
  }

  .article-title {
    font-size: 1.5em;
  }

  .article-wrapper {
    margin-top: 60px;
  }

  .nav-fixed {
    margin-bottom: 1.1em;
  }

  .nav-item-home {
    margin: 0;
    font-size: 0.8rem;
    padding: 0 19em;
  }

  .portfolio-wrapper {
    margin: 2% auto;
    font-size: 0.8em;
  }

  .container-img {
    width: 500px;
    height: 266px;
  }

  .contact-block {
    margin-top: 10px;
  }

  .social-block {
    width: 70%;
  }

  .social-block ul li .fa {
    font-size: 1.7em;
  }

  .social-block ul li p {
    font-size: 0.8em;
  }

  input {
    height: 40px;
  }

  textarea {
    height: 85px;
  }

  .form-title {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .caption {
    visibility: hidden;
  }

  .text-4 {
    margin-top: -1.5em;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  .text-4 {
    margin-top: -4.5em;
  }

  .container-img {
    width: 450px;
    height: 240px;
  }

  .portfolio-wrapper {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .text-4 {
    margin-top: -8em;
  }

  .social-block ul li p {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
  .text-4 {
    margin-top: -10.5em;
  }

  .container-img {
    width: 400px;
    height: 213px;
  }

  .social-block ul li .fa {
    font-size: 1.4em;
  }

  .social-block ul li p {
    font-size: 0.65em;
  }

  input {
    height: 30px;
    font-size: 0.7em;
  }

  textarea {
    height: 65px;
    font-size: 0.7em;
  }

  #submit {
    font-size: 0.7em;
  }

  .form-title {
    font-size: 1.1em;
  }

  .nav-item-home {
    padding: 0 15em;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  .text-4 {
    margin-top: -18.5em;
  }

  .social-block ul li p {
    font-size: 0.55em;
  }
}

/* override soft keyboard going to landscape mode in portrait */

@media screen and (max-device-aspect-ratio: 1/1), (max-aspect-ratio: 1/1) {
  .grid-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .social-block {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .social-block {
    width: 30%;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .social-block {
    width: 40%;
  }
}

@media screen and (max-width: 438px) and (orientation: portrait) {
  .social-block {
    width: 50%;
  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .social-block {
    width: 60%;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .social-block {
    width: 50%;
  }
}

/* iPhone X landscape */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .flex-bg {
    background: #000;
  }
}

/* iPad portrait orientation */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .full-height {
    height: 1024px;
  }
}

/* iPad landscape orientation */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .full-height {
    height: 768px;
  }
}

/* iPad Pro portrait orientation */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .full-height {
    height: 1024px;
  }
}

/* iPad Pro landscape orientation */
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .full-height {
    height: 768px;
  }
}
