/* === Additional Pages Styles == */

/* General Styles */

.grid-4x4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr 60px;
  grid-gap: 0;
  grid-template-areas:
    "header header header header"
    "alt-bg alt-bg alt-bg alt-bg"
    "footer footer footer footer";
}

.alt-bg {
  display: grid;
  grid-area: alt-bg;
  background: #eee;
  color: #000;
}

.nav-item-home {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.5em;
  transition: all ease-in-out 0.5s;
}

.nav-item-home:hover {
  color: #373737;
  transition: all ease-in-out 0.4s;
}

/* === About Styles === */

.grid-article {
  max-width: 768px;
  margin: auto;
  background: #fff;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "t t"
    "st t3"
    "t1 i"
    "t2 t4"
    "t2 .";
  max-width: 768px;
  margin: auto;
  background: #fff;
}

img {
  width: 100%;
}

.article-title {
  grid-area: t;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0 0 1em;
  padding: 0.5em;
  /*border: 1px solid yellow;*/
}

.article-title h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
  /*border: 1px solid red;*/
}

/*.article-title h2 {
  font-size: 0.7em;
  margin: 0.5em 0 0 36px;
  border: 1px solid green;
} oude ondertitel */

.article-title h1:nth-child(1) {
  margin-left: 33px;
}

.article-subtitle {
  grid-area: st;
  margin: 0 1em;
  /*border: 1px solid blue;*/
}

.article-subtitle h2 {
  font-size: 0.9em;
  margin: 0 0 1em;
  font-weight: 700;
  /*border: 1px solid pink;*/
}

.title-text {
  font-size: 0.3em;
  font-weight: 700;
}

.article-subtitle h3 {
  font-size: 0.8em;
  margin: 1em 0;
  font-weight: 700;
  /*border: 1px solid purple;*/
}

.article-text {
  columns: 2;
  column-gap: 0.7em;
  column-width: 200px;
  color: #444;
}

.article-text p {
  font-weight: 400;
  font-size: 0.8em;
}

.article-text p:first-child {
  margin-top: 0;
}

.text-1 {
  grid-area: t1;
  padding: 0 1em;
  /*border: 1px solid grey;*/
}

.text-2 {
  grid-area: t2;
  padding: 0 1em;
  /*border: 1px solid grey;*/
}

.article-image {
  grid-area: i;
  position: relative;
  margin: 0 1em;
  padding: 0;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0.5em;
  text-align: right;
  color: #000;
  font-style: italic;
  font-size: 0.6em;
}

.text-3 {
  grid-area: t3;
  padding: 0 1em;
  /*border: 1px solid orange;*/
}

.upper {
  margin-top: 0.5em;
}

.text-4 {
  grid-area: t4;
  padding: 0 1em;
  /*border: 1px solid lightblue;*/
}

.fixed-top {
  position: fixed;
  top: 0;
}

.nav-fixed {
  height: 14px;
  width: 100vw;
}

.menu-about {
  margin-right: 1.5em;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.footer-content {
  height: 60px;
  width: 100vw;
  text-align: center;
}

/* === Work Styles === */

.grid-portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "slippry";
}

/* slider */

.portfolio-wrapper {
  width: 60%;
  margin: auto;
  grid-area: slippry;
}

.portfolio-block {
  width: 100%;
}

.container-img {
  position: relative;
  width: 750px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}

.container-img > a > img {
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/* slider controls */

.sl-control {
  text-decoration: none;
  color: #373737;
}

/* === Contact Styles === */

.grid-contact {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50vh, auto));
}

.contact-social-wrapper {
  display: flex;
  width: 100%;
  background: #1c1e22;
  align-items: center;
  justify-content: center;
}

.social-block {
  width: 80%;
  /*border: 1px solid blue;*/
}

.nav-social-contact {
  text-decoration: none;
  color: #c4c4c4;
}

.nav-social-contact:hover {
  color: #373737;
  transition: all ease-in-out 0.4s;
}

.social-block ul {
  list-style-type: none;
  padding: 0;
  /*border: 1px solid yellow;*/
}

.social-block li {
  margin: 10px 0;
  /*border: 1px solid pink;*/
}

.social-block ul li .fa {
  font-size: 2.5em;
  padding-right: 10px;
}

.social-block ul li p {
  display: inline-block;
  position: relative;
  top: -0.3em;
  font-size: 1.25em;
  margin: 0;
  padding: 0.25em 0;
}

.contact-form-wrapper {
  width: 80%;
  margin: auto;
}

.contact-block {
  width: 100%;
  margin-top: -50px;
}

.menu-contact {
  margin-right: 1.5em;
}

/* Form Styles */

/* input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
} */

input::placeholder,
textarea::placeholder {
  color: #989898;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #d9d9d9;
}

/* input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
} */

/* On Hover Placeholder */

/* input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
} */

input:hover::placeholder,
textarea:hover::placeholder {
  color: #eee;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #c3c3c3;
}

/* input:hover::-ms-placeholder, textarea:hover::-ms-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus::-ms-placeholder {
  color: #cbc6c1;
} */

.form-title {
  position: relative;
  margin: 0 0 25px;
  font-size: 1.5em;
  color: #1c1e22;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 100%;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0 15px;

  background: transparent;
  outline: none;
  color: #5b5b5b;

  border: solid 1px #989898;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #c3c3c3;
  color: #e2dedb;
  color: #eee;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #5b5b5b;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #989898;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #c3c3c3;
  color: #eee;
}

#submit {
  width: 100%;

  padding: 0;
  margin: -5px 0 0 0;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #989898;

  outline:none;
  cursor: pointer;

  border: solid 1px #989898;
  /*border-top: none;*/
}

#submit:hover {
  color: #eee;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .grid-4x4 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 1fr 60px;
    grid-template-rows: auto 1fr 60px;
    grid-template-areas:
      "header header header"
      "alt-bg alt-bg alt-bg"
      "footer footer footer";
  }

  .menu-about,
  .menu-contact {
    margin-right: 0;
  }
}

@media only screen and (max-device-width: 1024px), screen and (max-width: 1024px) and (orientation: portrait) {
  .grid-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
  }

  .portfolio-wrapper {
    width: 80%;
  }
}

@media only screen and (max-device-width: 768px), screen and (max-width: 768px) and (orientation: portrait) {
  .grid-contact {
    margin-top: 50px;
  }

  .portfolio-wrapper {
    margin-top: 60px;
  }

  .grid-wrapper {
    margin-top: 60px;
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "t"
      "st"
      "t1"
      "i"
      "t2"
      "t3"
      "t4";
  }

  .caption {
    color: #fff;
  }

  .text-2 {
    padding: 0.5em 1em 0;
    /*border: 1px solid grey;*/
  }

  .portfolio-wrapper {
    width: 90%;
    margin: 5% auto;
  }

  .container-img {
    width: 500px;
    height: 266px;
  }

  .nav-fixed {
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  .grid-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .nav-fixed {
    margin-bottom: 1.1em;
  }

  .nav-item-home,
  .sl-control,
  .contact-block {
    font-size: 0.8rem;
  }

  .container-img {
    width: 375px;
    height: 200px;
  }

  .fixed-bottom {
    position: relative;
  }

  .social-block ul li .fa {
    font-size: 2em;
  }

  .social-block ul li p {
    font-size: 1em;
  }

  .contact-block {
    margin-top: -25px;
  }

  input {
    height: 40px;
  }

  textarea {
    height: 85px;
  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .nav-item-home,
  .sl-control,
  .demo_block {
    font-size: 0.7rem;
  }

  .container-img {
    width: 300px;
    height: 160px;
  }
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  .article-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
  .social-block ul li .fa {
    font-size: 1.4em;
  }

  .social-block ul li p {
    font-size: 0.7em;
  }

  .form-title {
    font-size: 1.2em;
  }

  input {
    height: 30px;
  }

  textarea {
    height: 65px;
  }
}

/* Media Queries Landscape */

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .nav-social-contact {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .grid-contact {
    margin-top: 50px;
  }

  .grid-wrapper {
    margin-top: 60px;
  }

  .nav-fixed {
    margin-bottom: 1.1em;
  }

  .nav-item-home {
    font-size: 0.8rem;
  }
}
