.alt-bg {
  display: grid;
  grid-area: alt-bg;
  background: #eee;
  color: #000;
}

.nav-item-home {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.5em;
  transition: all ease-in-out 0.5s;
}

.nav-item-home:hover {
  color: #373737;
  transition: all ease-in-out 0.4s;
}

.l-grid--4x4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr 60px;
  grid-gap: 0;
  grid-template-areas:
    "header header header header"
    "alt-bg alt-bg alt-bg alt-bg"
    "footer footer footer footer";
}

/* === Article Styles === */

.grid_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "t t2"
    "st t2"
    "t1 i"
    "t1 t3"
    "t1 .";
  max-width: 768px;
  margin: auto;
}

img {
  width: 100%;
}

.red {
  color: red;
}

.article_title {
  grid-area: t;
  text-align: ;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em;
}

.article_title h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.article_title h2 {
  font-size: 0.8em;
  margin: 0;
}

/* .article_title h1:nth-child(2) {
  margin: -60px 0;
} */

.article_subtitle {
  grid-area: st;
  margin: 1em 0;
  padding: 0 0.5em;
}

.article_subtitle h2 {
  font-size: 1em;
  padding: 0;
  margin: 0 0 -10px;
  font-weight: 700;
}

.article_subtitle h3 {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.article_text {
  columns: 2;
  column-gap: 0.7em;
  column-width: 200px;
  color: #444;
}

.article_text p {
  font-weight: 400;
  font-size: 0.8em;
}

.article_text p:first-child {
  margin-top: 0;
}

.text-1 {
  grid-area: t1;
  padding: 0 0.5em;
}

.article_image {
  grid-area: i;
  position: relative;
  margin: 0;
  padding: 0 0.5em;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 20px;
  text-align: right;
  color: red;
  font-style: italic;
  font-size: 0.5em;
}

.text-2 {
  grid-area: t2;
  padding: 0.5em;
}

.upper {
  margin-top: 1em;
}

.text-3 {
  grid-area: t3;
  padding: 0.5em;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.footer-content {
  height: 60px;
  width: 100vw;
  text-align: center;
}

/* === Work Styles === */

.grid-portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "slippry";
}

/* slider */

.demo_wrapper {
  width: 60%;
  margin: auto;
  grid-area: slippry;
}

.demo_block {
  width: 100%;
}

.container-img {
  position: relative;
  width: 750px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}

.container-img > a > img {
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/* slider controls */

.sl-control {
  text-decoration: none;
  color: #373737;
}

/* Contact Styles */

.grid_contact {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50vh, auto));
}

.contact-social-wrapper {
  display: flex;
  width: 100%;
  background: #1c1e22;
  align-items: center;
  justify-content: center;
}

.social_block {
  width: 80%;
}

.nav-social-contact {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 1.3em;
}

.social_block ul {
  list-style-type: none;
}

.social_block li {
  margin: 10px 0;
}

.social_block ul li .fa {
  font-size: 2.2em;
  padding-right: 10px;
}

.social_block ul li p {
  display: inline-block;
  margin: 0;
  padding: 0.5em;
}

.contact-form-wrapper {
  width: 80%;
  margin: auto;
}

.contact_block {
  width: 100%;
  margin-top: -50px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

/*body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}*/

.form-title {
  position: relative;
  margin: 0 0 25px;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 100%;
  /*margin: 50px auto 100px;*/
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 100%;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .l-grid--4x4 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 1fr 60px;
    grid-template-rows: auto 1fr 60px;
    grid-template-areas:
      "header header header"
      "alt-bg alt-bg alt-bg"
      "footer footer footer";
  }
}

@media only screen and (max-device-width: 1024px), screen and (max-width: 1024px) {
  .demo_wrapper {
    width: 80%;
  }
}

@media only screen and (max-device-width: 768px), screen and (max-width: 768px) {
  .demo_wrapper {
    width: 90%;
    margin: 5% auto;
  }

  .grid_contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .container-img {
    width: 500px;
    height: 266px;
  }
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  .nav-item-home,
  .sl-control,
  .demo_block {
    font-size: 0.8rem;
  }

  .container-img {
    width: 375px;
    height: 200px;
  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .nav-item-home,
  .sl-control,
  .demo_block {
    font-size: 0.7rem;
  }

  .container-img {
    width: 300px;
    height: 160px;
  }
}

/* Media Queries Landscape */

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .nav-social-contact {
    font-size: 1.1em;
  }
}

/*@media screen and (max-width: 736px) and (orientation: landscape) {
  .l-grid--4x4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "alt-bg alt-bg alt-bg alt-bg";
  }

  .demo_wrapper {
    width: 100%;
    margin: 0;
  }

  .container-img {
    width: 100%;
  }
}*/

@media screen and (max-width: 768px) and (orientation: landscape) {
  .nav-item-home {
    font-size: 0.8rem;
  }
}
